<h1>All Countries:</h1>

<ol>
  @foreach(Country country in Model)
  {
    <ul>
      <li>ID: @country.CountryId</li>
      <li>Title: @country.CountryName</li>
    </ul>
    @* <a href="/Countries/Details/@(country.CountryId)"><p>View Details</p></a> *@
    <br>
  }
</ol>